.button {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid #282c34;
    border-radius: 50px;
    color: #282c34;
    margin: 1vh 0;
}

.button:hover {
    background-color: #282c34;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}